#faq{
    margin-top: 110px;
    .block{
        height: auto;
        margin: 70px auto;
        &__section1{
            width: 900px;
            margin: auto;
            text-align: center;
            padding-top: 1.5rem;
            h2{
                font-weight: bold;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
                width: 50%;
                margin: auto;
                color:$theme-color;
                font-weight: bold;
            }
        }
        &__section2{
            background-image: url('../../img/shade.png');
            background-repeat: no-repeat;
            width: 1200px;
            margin: 20px auto;
            padding-top: 60px;
            &__cont{
                padding: 20px 80px 80px 80px;
                width: 1000px;
                margin: auto;
                background: #FAFAFA;
                box-shadow: 0px 10px 30px rgba(25, 1, 77, 0.2);
                border-radius: 10px;
                &__header{
                    text-align: center;
                    margin-bottom: 40px;
                    a{
                        margin: 0px 20px;
                        font-weight: bold;
                        font-size: 22px;
                        color: $theme-color;
                        cursor: pointer;
                        &:hover{
                            color: $secondary-color;
                        }
                    }
                    .active{
                        color: $secondary-color;
                    }
                }
                &__question{
                    padding: 10px 20px;
                    height: 76px;
                    overflow: hidden;
                    background: $bg-color;
                    border: 1px solid #ACB5BD;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 1s ease;
                    margin-bottom: 15px;
        
                    &__header{
                        font-size: 18px;
                        line-height: 60px;
                        font-weight: 600;
                        color: #495057;
        
                        &__btn{
                            float: right;
                            transition: 1s ease;
                            color: $secondary-color;
                        }
        
                        &__btn--active{
                        transform: rotate(-180deg);
                        }
                    }
        
                    &__answer{
                        color: #6C6C6C;
                        font-size: 18px;
                    }
                    &--active{
                        height: auto;
                    }
                }
            }
        }
    }
}
@media (max-width:1250px){
    #faq{
        .block{
            &__section1{
                width: 90%;
                p{
                    width: 50%;
                }
            }
            &__section2{
                width: 900px;
                &__cont{
                    padding: 20px 60px 60px 60px;
                    width: 800px;
                }
            }
        }
    }
}
@media (max-width:1250px){
    #faq{
        .block{
            &__section1{
                width: 90%;
                p{
                    width: 50%;
                }
            }
            &__section2{
                width: 900px;
                &__cont{
                    padding: 20px 60px 60px 60px;
                    width: 800px;
                }
            }
        }
    }
}
@media (max-width:950px){
    #faq{
        .block{
            &__section1{
                width: 90%;
                p{
                    width: 60%;
                }
            }
            &__section2{
                width: 90%;
                &__cont{
                    padding: 20px 40px 40px 40px;
                    width: 90%;
                }
            }
        }
    }
}
@media (max-width:750px){
    #faq{
        .block{
            &__section1{
                width: 95%;
                p{
                    width: 70%;
                }
            }
            &__section2{
                width: 95%;
                &__cont{
                    padding: 20px 30px 30px 30px;
                    width: 95%;
                }
            }
        }
    }
}
@media (max-width:550px){
    #faq{
        .block{
            margin: 40px auto;
            &__section1{
                width: 97%;
                h2{
                    font-size: 30px;
                }
                p{
                    width: auto;
                    font-size: 20px;
                }
            }
            &__section2{
                padding-top: 10px;
                &__cont{
                    padding: 10px;
                    width: 100%;
                    &__header{
                        margin-bottom: 20px;
                        display: grid;
                        text-align: left;
                        a{
                            font-size: 17px;
                            margin: 2px 0px;
                        }
                    }
                    &__question{
                        padding: 15px 5px;
                        margin-bottom: 10px;
                        height: 60px;
                        p{
                            font-size: 17px;
                            line-height: 30px;
                        }
                        &--active{
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}