#ideaspace1,#ideaspace2,#ideaspace4{
    .block{
        width: 1000px;
        background-image: url('../../img/shade.png');
        background-repeat: no-repeat;
        margin: auto;
        text-align: center;
        padding: 60px 0px 100px 0px;
        position: relative;
        display: grid;
        .content_section{
            margin-top: 40px;
            h2{
                font-size: 40px;
                font-weight: bold;
                width: 90%;
                margin: auto;
                margin-bottom: 20px;
            }
            p{
                font-size: 22px;
                width: 50%;
                margin: auto;
            }
            form{
                margin-top: 30px;
                div{
                    width: 500px;
                    margin: auto;
                    margin-bottom: 30px;
                    text-align: left;
                    label{
                        font-size: 20px;
                        font-family: roboto;
                    }
                    input{
                        display: block;
                        margin: auto;
                        width: 100%;
                        height: 70px;
                        border-radius: 10px;
                        padding-left: 10px;
                        background: $bg-color;
                        border: 1px solid #ACB5BD;
                        outline: none;
                        font-family: roboto;
                        font-size: 20px;
                        &::placeholder{
                            font-size: 20px;
                        }
                        &:focus{
                            border: 1px solid $secondary-color;
                        }
                    }
                }
                button{
                    width: 500px;
                    height: 69px;
                    outline: none;
                    border: none;
                    color: $bg-color;
                    background: linear-gradient(180deg, #6626EE 0%, #4106BD 100%);
                    border-radius: 10px;
                    font-size: 22px;
                    &:hover{
                        background: $secondary-color;
                    }
                }
            }
        }
        .issues{
            position: absolute;
            bottom:0px;
            margin: auto;
            left: 0px;
            right: 0px;
            p{
                color: #ACB5BD;
                margin-bottom: 3px;
                font-size: 17px;
            }
            a{
                color: $theme-color;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
}
@media (max-width:1200px){
    #ideaspace1,#ideaspace2,#ideaspace4{
        .block{
            width: 800px;
        }
    }
}
@media (max-width:850px){
    #ideaspace1,#ideaspace2,#ideaspace4{
        .block{
            width: 100%;
            .content_section{
                p{
                    width: 70%;
                }
            }
        }
    }
}
@media (max-width:550px){
    #ideaspace1,#ideaspace2,#ideaspace4{
        .block{
            a{
                img{
                    content: url('../../img/primary_logo.png');
                }
            }
            .content_section{
                p{
                    width: 90%;
                    font-size: 20px;
                }
                h2{
                    font-size: 30px;
                }
                form{
                    div{
                        margin-bottom: 20px;
                        width: 95%;
                        input{
                            height: 60px;
                            font-size: 18px;
                            &::placeholder{
                                font-size: 18px;
                            }
                        }
                        label{
                            font-size: 18px;
                        }
                    }
                    button{
                        width: 200px;
                        height: 50px;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}