#home {  
    display: grid;
    .block{
        display: grid;
        &__section1{
            padding: 30px 50px 0px 50px;
            margin-top: 70px;
            background-image: url('../../img/Rectangle59.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 750px;
            &__cont1{
                float: left;
                width: 50%;
                h1{
                    color: $primary-color;
                    font-size: 60px;
                    line-height: 59px;
                    font-weight: bold;
                }
                p{
                    margin-top: 20px;
                    color: $theme-color;
                    font-size: 25px;
                    font-weight: 500;
                }
                button{
                    width: 321px;
                    height: 70px;
                    color: $bg-color;
                    border-radius: 10px;
                    background: linear-gradient(180deg, #6626EE 0%, #4106BD 100%);
                    box-shadow: 0px 5px 15px 3px rgba(102, 38, 238, 0.2);
                    font-size: 18px;
                    border: none;
                    outline: none;
                    line-height: 40px;
                    letter-spacing: 0.03em;
                    &:hover{
                        background: $secondary-color;
                    }
                }
            }
            &__cont2{
                float: right;
                width: 45%;
                padding-left: 20px;
                padding-top: 30px;
            }
        }
        &__section2{
            background-color: #FAFAFA;
            padding: 30px 0px;
            &__cont1{
                width: 800px;
                margin: auto;
                display: flex;
                align-items: center;
                div{
                    h2{
                        font-weight: bold;
                        width: 650px;
                    }
                    p{
                        font-weight: 500;
                        font-size: 20px;
                        color: $theme-color;
                        width: 690px;
                    }
                }
            }
        }
        &__section3{
            background: $bg-color;
            text-align: center;
            padding: 70px 10px;
            h2{
                font-size: 33px;
                font-weight: bold;
            }
            p{
                font-weight: 500;
                font-size: 20px;
                color: $theme-color;
                margin-bottom: 30px;
            }
            &__cont{
                width: 1100px;
                margin: auto;
                &__box{
                    width: 500px;
                    height: 500px;
                    margin: 25px;
                    float: left;
                    background: $bg-color;
                    box-shadow: 0px 5px 20px rgba(102, 38, 238, 0.15);
                    border-radius: 10px;
                    text-align: center;
                    padding: 30px;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.05);
                        border-bottom: 3px solid $secondary-color;
                    }
                    img{
                        margin: auto;
                        margin-bottom: 30px;
                        height: 250px;
                    }
                    div{
                        text-align: left;
                        color: $secondary-color;
                        h2{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        &__section4{
            background-color: $content-color;
            padding: 70px 0px;
            text-align: center;
            h2{
                font-weight: bold;
                font-size: 33px;
                margin-bottom: 40px;
            }
            &__cont{
                width: 1050px;
                height:550px;
                margin: auto;
                padding: 50px 0px;
                background-color: #E8E3F3;
                border-radius: 10px;
                &__slider{
                    height: 342px;
                    width: 950px;
                    position: relative;
                    margin: auto;
                    overflow: hidden;
                    .left_arrow,.right_arrow{
                        background-image: url('../../img/Rectangle62.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: 0px;
                        height: 100%;
                        width: 10%;
                        display: flex;
                        align-items: center;
                        z-index: 5;
                        i{
                            margin: auto;
                            font-size: 20px;
                            background: $bg-color;
                            color: $secondary-color;
                            padding: 10px;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                    .right_arrow{
                        background-image: url('../../img/Rectangle65.png');
                        left: auto;
                        right: 0px;
                    }
                    .slider_cont{
                        width: 80%;
                        height: 100%;
                        position: absolute;
                        margin: auto;
                        left: 0;
                        right: 0;
                        overflow: hidden;
                        .img_cont{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            display: flex;
                            right: -100%;
                            transition: 1s ease;
                            &__image{
                                width: 45%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            &__content{
                                width: 55%;
                                text-align: left;
                                padding: 30px 30px;
                                background: $bg-color;
                                p{
                                    font-size: 20px;
                                }
                                .testimony{
                                    margin: 20px 0px;
                                }
                            }
                        }
                        .slider1{
                            right: 0%;
                        }
                    }
                }
            }
            ul{
                list-style: none;
                margin: 20px auto 0px auto;
                text-align: left;
                width: 108px;
                padding: 0px;
                li{
                    width: 10px;
                    height: 10px;
                    background: $bg-color;
                    border-radius: 10px;
                    margin: 0px 4px;
                    display: inline-block;
                    cursor: pointer;
                }
                .slide_icon0{
                    display: none;
                }
                .slide_icon1{
                    background: #6626EE;
                }
            }
        }
        &__section5{
            padding: 70px 0px;
            div{
                width: 800px;
                margin: auto;
                text-align: center;
                h3{
                    font-weight: bold;
                }
                p{
                    font-size: 20px;
                }
                button{
                    width: 321px;
                    height: 70px;
                    color: $bg-color;
                    border-radius: 10px;
                    background: linear-gradient(180deg, #6626EE 0%, #4106BD 100%);
                    box-shadow: 0px 5px 15px 3px rgba(102, 38, 238, 0.2);
                    font-size: 18px;
                    border: none;
                    outline: none;
                    line-height: 40px;
                    letter-spacing: 0.03em;
                    &:hover{
                        background: $secondary-color;
                    }
                }
                img{
                    width:100%;
                    margin:20px 0px
                }
            }
        }
    }
}
@media (max-width:1200px){
    #home{
        .block{
            &__section3{
                &__cont{
                    width: 900px;
                    &__box{
                        width: 400px;
                        height: 500px;
                        margin: 25px;
                        padding: 20px;
                        img{
                            margin: auto;
                            margin-bottom: 30px;
                            width: auto;
                            height: 220px;
                        }
                    }
                }
            }
            &__section4{
                padding: 70px 0px;
                text-align: center;
                h2{
                    margin-bottom: 40px;
                }
                &__cont{
                    padding: 50px 20px;
                    width: 850px;
                    height:500px;
                    &__slider{
                        display: flex;
                        width: 790px;
                        height: 290px;
                        .slider_cont{
                            .img_cont{
                                &__content{
                                    padding: 10px 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:1000px){
    #home{
        .block{
            &__section1{
                height: 650px;
                padding: 30px 20px 0px 20px;
                &__cont1,&__cont2{
                    width: 50%;
                }
            }
        }
    }
}
@media (max-width:900px){
    #home{
        .block{
            &__section3{
                &__cont{
                    width: 100%;
                    &__box{
                        width: 500px;
                        height: 500px;
                        margin: 25px auto;
                        padding: 20px;
                        float: none;
                        img{
                            margin: auto;
                            margin-bottom: 30px;
                            height: 250px;
                            width: auto;
                        }
                    }
                }
            }
            &__section2{
                &__cont1{
                    width: 98%;
                    div{
                        h2,p{
                            width: auto;
                        }
                    }
                }
            }
            &__section4{
                &__cont{
                    padding: 30px;
                    width: 500px;
                    height: 700px;
                    &__slider{
                        height: 500px;
                        width: auto;
                        .left_arrow, .right_arrow{
                            width: 0%;
                            display: none;
                        }
                        .slider_cont{
                            .img_cont{
                                display: grid;
                                &__image{
                                    height: 100%;
                                    width: 100%;
                                    img{
                                        width: 150px;
                                        height: 150px;
                                        border-radius: 50%;
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                    }
                                }
                                &__content{
                                    width: 100%;
                                    padding: 30px 10px;
                                    padding: 100px 10px;
                                    margin-top: 75px;           
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:850px){
    #home{
        .block{
            &__section1{
                height: 650px;
                padding: 30px 20px 0px 20px;
                &__cont1{
                    width: 100%;
                }
                &__cont2{
                    display: none;
                }
            }
            &__section5{
                padding: 50px 0px;
                div{
                    width: 95%;
                }
            }
        }
    }
}
@media (max-width:550px){
    #home{
        .block{
            &__section1{
                height: 620px;
                margin-top: 20px;
                padding: 30px 10px 0px 10px;
                &__cont1{
                    width: 100%;
                    h1{
                        font-size: 45px;
                    }
                    p{
                        margin-top: 30px;
                        font-size: 20px;
                    }
                }
                &__cont2{
                    display: none;
                }
            }
            &__section2{
                padding: 20px 10px;
                &__cont1{
                    width: 100%;
                    padding: 0px;
                    display: grid;
                    img{
                        margin: auto;
                    }
                    text-align: center;
                }
            }
            &__section3{
                padding: 20px 0px;
                P{
                    width: 90%;
                    margin: auto;
                }
                h2{
                    width: 95%;
                    margin: auto;
                }
                &__cont{
                    width: 92%;
                    &__box{
                        width: 100%;
                        height: auto;
                        margin: 20px auto;
                        padding: 20px 10px;
                        img{
                            margin: auto;
                            margin-bottom: 20px;
                            height: auto;
                            width: 80%;
                        }
                        div{
                            text-align: center;
                        }
                    }
                }
            }
            &__section4{
                padding: 50px 0px;
                &__cont{
                    padding: 10px 5px;
                    width: 95%;
                    margin: auto;
                    height: 600px;
                    h2{
                        margin-bottom: 20px;
                    }
                    &__slider{
                        height: 450px;
                        .slider_cont{
                            width: 90%;
                            .img_cont{
                                &__image img{
                                    width: 100px;
                                    height: 100px;
                                }
                                &__content{
                                    margin-top: 50px;
                                    padding: 60px 10px;
                                }
                            }
                        }
                    }
                }
            }
            &__section5{
                div{
                    width: 100%;
                }
                .container{
                    img{
                        content: url('../../img/Works_mobile.png');
                    }
                }
            }
        }
    }
}