//set custom fonts
@font-face {
  font-family: 'brown';
  src: url('../fonts/Brown-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brown';
  src: url('../fonts/Brown-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//initialise bold font for headings
h1,h2,h3,h4,h5,h6{
  font-family: brown;
}

//set default font 
$default-font: brown;
*{
  font-family: $default-font;
}
p{
  font-family: 'barlow';
}

body{
  margin:0px auto;
  padding: 0px;
  display: grid;
  // max-width: 1500px;
}

.form-control{
  border-radius: 10px;
  width: 100%;
  height: 45px;
  font-size: small;
}

form label{
  float:left;
}

//theme colors
$primary-color: #000000;
$theme-color: #515151;
$secondary-color: #6626EE;
$bg-color: #ffffff;
$content-color: #F6F5F6;
