.dashboard{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    .sidebar{
        height: 100%;
        min-width: 240px;
        background: $secondary-color;
        padding: 30px 0px 10px 0px;
        text-align: center;
        overflow-x: auto;
        transition: 0.5s ease;
        .close_menu{
            display: none;
            font-size: 25px;
            color: $bg-color;
            margin-left: -70px;
        }
        &__section{
            margin: 0px 0px 0px 5px;
            padding: 75px 0px 10px 0px;
            .explore:hover{
                img{
                    content:url("/img/Group9.png");
                }
            }
            .challenge:hover{
                img{
                    content:url("/img/Group15.png");
                }
            }
            .overview:hover{
                img{
                    content:url("/img/Group16.png");
                }
            }
            .history:hover{
                img{
                    content:url("/img/Group17.png");
                }
            }
            &__link,&__logout{
                height: 60px;
                display: flex;
                align-items: center;
                margin: 20px 0px 20px 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                padding-left:15px;
                padding-right: 5px;
                display: flex;
                cursor: pointer;
                color: $bg-color;
                font-size: 22px;
                &--active{
                    background: $bg-color;
                    color: $secondary-color;
                }
                &:hover{
                    background: $bg-color;
                    color: $secondary-color;
                }
                &__icon{
                    width: 50px;
                    margin-right: 15px;
                }
            }
        }
        button{
            width: 200px;
            height: 60px;
            background: $bg-color;
            color: $secondary-color;
            outline: none;
            border: none;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0px 6px 12px rgba(20, 1, 58, 0.4);
        }
        .logout:hover{
            img{
                content:url("/img/Group9.png");
            }
        }
    }
    .content{
        height: 100%;
        width: inherit;
        position: relative;
        padding: 0px !important;
        overflow-y: hidden;
        &__header{
            width: 100%;
            padding: 0px 30px;
            display: grid;
            background: $bg-color;
            box-shadow: 0px 1px 2px rgba(102, 38, 238, 0.1);
            &__section1{
                padding: 15px 0px;
                &__desc{
                    float: left;
                    p{
                        font-size: 20px;
                    }
                    img{
                        display: none;
                    }
                }
                &__profile{
                    float: right;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background: $content-color;
                    font-size: 30px;
                    display: flex;
                    align-items: center;
                    i{
                        margin: auto;
                    }
                }
            }
            &__section2{
                .menu_icon{
                    float: right;
                    display: none;
                    font-size: 25px;
                    color: $secondary-color;
                    margin-right: 15px;
                }
                h2{
                    display: none;
                    font-size: 22px;
                    color: $secondary-color;
                    font-weight: bold;
                }
                &__link{
                    font-size: 20px;
                    margin-right: 30px;
                    cursor: pointer;
                    &:hover{
                        border-bottom: 4px solid $secondary-color;
                        border-radius: 5px;
                    }
                    &--active{
                        border-bottom: 4px solid $secondary-color;
                        border-radius: 5px;
                        font-weight: bold;   
                    }
                }
            }
        }
        .main_section{
            background: #F6F5F6;
            height: 80%;
        }
    }
}
.shareicon_mobile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(180deg, #6626EE 0%, #4106BD 100%);
    position: fixed;
    bottom: 120px;
    right: 5%;
    display: none;
    align-items: center;
    text-align: center;
    img{
        margin: auto;
    }
}
.dashboard_footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: $secondary-color;
    height: 70px;
    display: none;
    div{
        float: left;
        width: 25%;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        &:hover{
            background: $bg-color;
        }
        img{
            margin: auto;
        }
    }
    .active{
        background: $bg-color;
    }
    .explore:hover{
        img{
            content:url("/img/Group9.png");
        }
    }
    .challenge:hover{
        img{
            content:url("/img/Group15.png");
        }
    }
    .overview:hover{
        img{
            content:url("/img/Group16.png");
        }
    }
    .history:hover{
        img{
            content:url("/img/Group17.png");
        }
    }
}
@media (max-width:900px){
    .dashboard {
        .sidebar{
            min-width: 120px;
            margin-left: 0px;
            /*padding: 10px 0px 10px 0px;*/
            &--mobile{
             margin-left: 0px;
            }
            .close_menu{
               /* display: block;*/
                margin-bottom: 15px;
            }
            &__logo{
                img{
                    width: 80%;
                }
            }
            &__section{
                
                margin: 0px;
                &__link,&__logout{
                    padding: 2px 0px;
                    &__icon{
                        margin-bottom: 2px;
                    }
                    display: grid;
                    font-size: 0.8rem;
                    &__icon{
                        width: auto;
                        
                    }
                }
            }
            button{
                width: 90px;
                height: 40px;
            }
        }
        .content{
           
            &__header{
                padding: 0px 10px;
                &__section2{
                    .menu_icon{
                        /*display: block;*/
                    }
                }
            }
        }
    }
}
@media (max-width:750px){
    .dashboard{
        .sidebar{
            display: none;
        }
        .content{
            &__header{
                &__section1{
                    &__desc{
                        p,h2{
                            display: none;
                        }
                        img{
                            display: block;
                        }
                    }
                    &__profile{
                        width: 50px;
                        height: 50px;
                    }
                }
                &__section2{
                   h2{
                       display: block;
                       margin-bottom: 20px;                   }
                   &__link{
                   font-size: 16px;
                    }
                }
            }
        }
    }
    .shareicon_mobile{
        display: flex;
    }
    .dashboard_footer{
       display: block;
    }
}
@media (max-width:550px){
    .dashboard{
        .content{
            &__header{ 
                &__section2{ 
                    h2{
                        margin-bottom: 10px;
                    }
                    &__link{
                        font-size: 14px;
                        margin-right: 10px;
                    }
                    .filter{
                        span{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}